<form class="form-inline" ng-submit="submit(_newPassword)">
  <div class="panel panel-warning"> <!--edit-panel-->
    <div class="panel-heading">
      <h4 class="panel-title">
        UPDATE MAILBOX PASSWORD ON {{theDomain | uppercase}}
      </h4>
    </div>
    <div class="panel-body edit-form">
      <span class="editform-control">
          <label>Mailbox name</label>
          {{theMailbox}}
      </span>
      <span class="editform-control">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="_newPassword">
      </span>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Submit</button>
    <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Cancel</button>
  </div>
</div>
</form>