<form class="form-inline" ng-submit="add(_aliasname, _forwardAddresses, _active)">
  <div class="panel panel-success edit-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        CREATE NEW ALIAS ON {{theDomain | uppercase}}
      </h4>
    </div>
    <div class="panel-body edit-form">
      <div class="edit-form-row">
        <span class="editform-control">
          <label>Alias Name</label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="_aliasname">
            <div class="input-group-addon">@{{theDomain}}</div>
          </div>
        </span>
      </div>
      <div class="edit-form-row">
        <span class="editform-control">
          <label>Targets</label>
          <input type="textarea" class="form-control" rows="4" cols="50" ng-model="_forwardAddresses">
        </span>
      </div>
      <div class="edit-form-row">
        <span class="editform-control">
          <label>
            <input type="checkbox" class="form-control" ng-model="_active" ng-init="active=true">Active
          </label>
        </span>
      </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Submit</button>
    <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span>Cancel</button>
  </div>
</div>
</form>